body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: fit-content;
        /* overflow-y : auto;  */

}

header {
    background-color: #154c79;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.background {
    background-color: #D5D5D3;
}

main {
    padding: 5px;
    text-align: center;
    overflow-y: auto;
}

main img {
    width: 50%;
}
main p {
    font-weight: bold;
    font-size: large;
    color: #30302e;
}

footer {
    background-color: #1e81b0;
    color: white;
    text-align: center;
    padding: 0px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#downloadResumeBtn {
    background-color: beige;
    border-radius: 5px;
    padding: 10px 50px;
    font-size: 16px;
    font-weight: bold;
    color: cadetblue;
    cursor: pointer;
    transition: all 0.2s ease;
}
/* Hover effect */
#downloadResumeBtn:hover {
    background-color: #C09A6B; /* Darker blue background on hover */
}

/* Active state (pressed button) */
#downloadResumeBtn:active {
    background-color: #C09A6B; /* Darker blue background */
    box-shadow: 0 5px #666; /* Darker shadow to create depth */
    transform: translateY(4px); /* Slightly move down to create pressed effect */
}

form {
    display: inline-block;
    text-align: left;
}

form label, form input, form textarea, form button {
    display: block;
    margin: 1px 0;
}

form input, form textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

form button {
    background-color: #5C5CF7;
}

#formMessage {
    color: green;
    font-weight: bold;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Change arrow color to black */
}

.carousel-control-prev-icon {
    background-image: none; /* Remove the default icon */
}

.carousel-control-next-icon {
    background-image: none; /* Remove the default icon */
}
/*
.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
    content: '‹';
    font-size: 55px;
    color: cyan; /* Ensure the custom arrow is black 
    display: inline-block;
    opacity: 1;
}
*/


.carousel-control-next-icon::after {
    content: '›';
}

#readGraph {
    border: 1px solid grey;
}
